body {
	background-image: url('assets/omfgdogs.gif');
	background-repeat: repeat;
}
	
.bottom-bar {
	position: fixed;
		bottom: 0px;
		right: 0px;
		left: 0px;
		height: 20px;
		margin: 0px;
		padding: 4px;
	background: rgba(46, 46, 46, 0.8);
	border-top-style: solid;
		border-width: 1px;
		border-color: #A9A9A9;
}

.bottom-bar p {
	color: #FF7E11;
		opacity: 1;
		text-shadow: #000 0px 1px 0px;
	margin: 0px;
		position: relative;
		right: 8px;
		text-align: right;
		vertical-align: middle;
	font-family: Verdana, Geneva, sans-serif;
}

.bottom-bar a {
	color: #FA48E3;
}